@model ContactModel

<h2>Удалить контакт</h2>

<div>
    <h3>Вы уверены, что хотите удалить этот контакт?</h3>
    <div>
        <p><strong>Imię:</strong> @Model.FirstName</p>
        <p><strong>Nazwisko:</strong> @Model.LastName</p>
        <p><strong>Email:</strong> @Model.Email</p>
    </div>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Index" class="btn btn-secondary">Skasuj</a>
    </form>
</div>